<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ... -->
    <!--<add key="apiConnect" value="http://207.244.248.171:8080/"/>-->
    <add key="apiConnect" value="https://localhost:44303/"/>
    <!-- ... -->
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>